
*
{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: black;
    color: white;
}

a
{
    color: white;
    font-size: xx-large;
    text-align: center;
    border: 0.5vw solid white;
    padding: 2%;
    background-color: black;
    font-family: "Brush Script MT";
}

a:hover
{
    color: red;
}

h1 {
    font-size: 100px;
    font-family: 'Almendra SC', serif;
}
h2 {
    font-family: 'Cormorant', serif;
}
h3 {
    font-family: 'Cormorant', serif;
}
p {
    font-family: 'Cormorant', serif;
}

